@model Bangazon.Models.ProductType

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Label)</h2>

<div>
    <hr />
    <div class="row">
        @foreach (Product p in Model.Products)
        {
            <div class="col-md-7">
                @p.Title
            </div>
            <div class="col-md-3">
                @p.Quantity
            </div>
            <div class="col-md-2">
                $@p.Price
            </div>
        }
    </div>
</div>

